<head>
    <meta charset="utf-8">
    <title>Private Page</title>
</head>
<body>
  <main>
    <p>
      Username: {{username}}
    </p>
    <p>
      Profession: {{profession}}
    </p>
    <p>
      First Name: {{firstName}}
    </p>
	  <p>
      Last Name: {{lastName}}
    </p>
    <p>
      Bio: {{bio}}
    </p>
	  <p>
      <a href="/logout">
        Logout?
      </a>
    </p>

	</main>
</body>
